/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --bgc-header: #0084FD;
    --bgc-footer: #333333;
    --primary-color: #9792E4;
    --secondary-color: #FFFFFF;
    --bgc-card: #B5DDFF;
    --contrast-color: #FDC15F;
}

.container{
    margin: 0 auto;
    width: 1400px;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

li{
    list-style: none;
}

/* header */

header{
    background-color: var(--bgc-header);
}

header nav{
    padding: 10px;
}

/* main */

.violet{
    background-color: var(--primary-color);
}

/* footer */

footer{
    background-color: var(--bgc-footer);
}