/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --bgc-header: #0084FD;
    --bgc-footer: #333333;
    --primary-color: #9792E4;
    --secondary-color: #FFFFFF;
    --bgc-card: #B5DDFF;
    --contrast-color: #FDC15F;
    --black: #000000;
}

.container{
    margin: 0 auto;
    max-width: 300px;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;
}

ul{
    list-style: none;
}

.button{
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--black);
    padding: 6px 12px;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bgc-header);
    z-index: 1000;
}

header nav{
    padding: 10px;
}

header nav li{
    padding-right: 20px;
}

header nav ul{
    display: none;
}

.text-center{
    text-align: center;
}

/* main */


main{
    margin-top: 100px;
}

.violet{
    background-color: var(--primary-color);
}

/* general-explanation */

#general-explanation .card{
    width: 100%;
    background-color: var(--bgc-card);
    border-radius: 10px;
    padding: 2rem 1.2rem;
    margin-bottom: 20px;
}

#general-explanation .padding-b{
    padding-bottom: 0rem;
}

#general-explanation .padding-b .text h2{
    padding: 1rem 0rem;
}

#general-explanation .card h2{
    color: var(--bgc-header);
    padding: 1.5rem;
}

#general-explanation .card img{
    width: 100%;
    display: block;
}

#general-explanation .button{
    background-color: var(--bgc-header);
    color: var(--secondary-color);
    padding: 8px 50px;
    margin: 2rem 0rem;
}

#general-explanation i{
    font-size: 4rem;
    color: var(--bgc-header);
}

/* footer */

footer{
    background-color: var(--bgc-footer);
}