/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --bgc-header: #0084FD;
    --bgc-footer: #333333;
    --primary-color: #9792E4;
    --secondary-color: #FFFFFF;
    --bgc-card: #B5DDFF;
    --contrast-color: #FDC15F;
    --black: #000000;
}

.container{
    margin: 0 auto;
    max-width: 300px;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;
}

ul{
    list-style: none;
}

.button{
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--black);
    padding: 6px 12px;
}

.card{
    border-radius: 10px;
    padding: 1rem;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bgc-header);
    z-index: 1000;
}

header nav{
    padding: 10px;
}

header nav li{
    padding-right: 20px;
}

header nav ul{
    display: none;
}

.text-center{
    text-align: center;
}

/* main */


main{
    margin-top: 100px;
}

.violet{
    background-color: var(--primary-color);
}

/* general-explanation */

#general-explanation .card{
    width: 100%;
    background-color: var(--bgc-card);
    border-radius: 10px;
    padding: 2rem 1.2rem;
    margin-bottom: 20px;
}

#general-explanation .padding-b{
    padding-bottom: 0rem;
}

#general-explanation .padding-b .text h2{
    padding: 1rem 0rem;
}

#general-explanation .card h2{
    color: var(--bgc-header);
    padding: 1.5rem;
}

#general-explanation .card img{
    width: 100%;
    display: block;
}

#general-explanation .button{
    background-color: var(--bgc-header);
    color: var(--secondary-color);
    padding: 8px 50px;
    margin: 2rem 0rem;
}

#general-explanation i{
    font-size: 4rem;
    color: var(--bgc-header);
}

/* planning */

#planning .small-container{
    padding: 3rem 0rem;
}

#planning .col-left{
    color: var(--secondary-color);
    padding-bottom: 2rem;
}

#planning img{
    width: 100%;
}

#planning .col-left h2{
    padding: 2rem 0rem;
}

#planning .col-right{
    background-color: var(--secondary-color);
    border-radius: 3rem;
    padding: 2rem;
}

#planning .col-right h3{
    padding: 1rem;
}

#planning .col-right .row{
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 0.4rem;
    margin-top: 1rem;
    display: inline-block;
}

/* partners */

#partners h4{
    padding-top: 3rem;
}

#partners h2{
    color: var(--primary-color);
    padding: 1.5rem 0rem;
}

#partners .card{
    background-color: var(--primary-color);
    border-radius: 3rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

#partners .card .user{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

#partners .card .user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#partners .card .virgolette{
    font-size: 3rem;
}

/* work whit us */

#work-with-us h2{
    color: var(--secondary-color);
}

#work-with-us .card{
    background-color: var(--secondary-color);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

#work-with-us h3{
    color: var(--primary-color);
}

#work-with-us .button{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.4rem 2.5rem;
    margin-top: 1rem;
}

/* footer */

footer{
    background-color: var(--bgc-footer);
}